<link rel="stylesheet" href="/css/sidebar.css">
<section class="left-sidebar bg-light">
    <a class="navbar-brand d-flex justify-content-center" href="#">
        <img src="/img/coders-tokyo-logo.svg" alt="" class="avatar-img" style="width: 100px; height: 100px; border-radius: 50%;">
    </a>
    <hr/>
    <div class="profile-group profile-info-group d-inline-flex flex-column">
        <label for="">Name: </label>    
        <label for="">Post: </label>    
        <label for="">Follower: </label>    
        <label for="">Stared: </label>
    </div>    
    <hr/>    
    <div class="profile-group social-network-group d-inline-flex flex-row justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="/img/facebook-brands.svg" alt="" class="avatar-img" style="width: 30px;">
        </a>
        <a class="navbar-brand" href="#">
            <img src="/img/github-brands.svg" alt="" class="avatar-img" style="width: 30px;">
        </a>
        <a class="navbar-brand" href="#">
            <img src="/img/linkedin-brands.svg" alt="" class="avatar-img" style="width: 30px;">
        </a>
    </div>    
    <hr/>
    <div class="profile-group new-profile-group d-inline-flex flex-column">
        <a href="" class="btn btn-info">New post</a>
        <a href="" class="btn btn-warning mt-1">Edit profile</a>        
    </div>
</section>

